Question No 1. Solution

In [ ]:
from bs4 import BeautifulSoup
import requests

In [2]:
page=requests.get("https://en.wikipedia.org/wiki/Main_Page")

In [3]:
page

In [8]:
soup=BeautifulSoup(page.content)

In [13]:
first_head=soup.find('h2',class_="mp-h2")

In [14]:
first_head

In [15]:
first_head.text

"From today's featured article"

In [16]:
headers=[]
for i in soup.find_all('h2',class_="mp-h2"):
    headers.append(i.text)

In [18]:
headers

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [21]:
import pandas as pd
df=pd.DataFrame({'Header_tags':headers})
df

                     Header_tags
0  From today's featured article
1               Did you know ...
2                    In the news
3                    On this day
4       Today's featured picture
5       Other areas of Wikipedia
6    Wikipedia's sister projects
7            Wikipedia languages

Question No 2 Solution

In [22]:
page=requests.get("https://presidentofindia.nic.in/former-presidents")

In [23]:
page

In [24]:
soup=BeautifulSoup(page.content)

In [35]:
leader_name=soup.find('h3')

In [36]:
leader_name

In [38]:
leader_term=soup.find('h5')

In [39]:
leader_term

In [40]:
name=[]
for i in soup.find_all('h3'):
    name.append(i.text)
name

['Shri Ram Nath Kovind',
 'Shri Pranab Mukherjee',
 'Smt Pratibha Devisingh Patil',
 'DR. A.P.J. Abdul Kalam',
 'Shri K. R. Narayanan',
 'Dr Shankar Dayal Sharma',
 'Shri R Venkataraman',
 'Giani Zail Singh',
 'Shri Neelam Sanjiva Reddy',
 'Dr. Fakhruddin Ali Ahmed',
 'Shri Varahagiri Venkata Giri',
 'Dr. Zakir Husain',
 'Dr. Sarvepalli Radhakrishnan',
 'Dr. Rajendra Prasad']

In [41]:
term=[]
for i in soup.find_all('h5'):
    term.append(i.text)
term

['14th President of India',
 '13th President of India',
 '12th President of India',
 '11th President of India',
 '10th President of India',
 '9th  President of India',
 '8th President of India',
 '7th President of India',
 '6th President of India',
 '5th President of India',
 '4th President of India',
 '3rd President of India',
 '2nd President of India',
 '1st President of India']

In [43]:
import pandas as pd
df=pd.DataFrame({'Name Of Leader':name,'Term of Officer':term})
df

                  Name Of Leader          Term of Officer
0           Shri Ram Nath Kovind  14th President of India
1          Shri Pranab Mukherjee  13th President of India
2   Smt Pratibha Devisingh Patil  12th President of India
3         DR. A.P.J. Abdul Kalam  11th President of India
4           Shri K. R. Narayanan  10th President of India
5        Dr Shankar Dayal Sharma  9th  President of India
6            Shri R Venkataraman   8th President of India
7               Giani Zail Singh   7th President of India
8      Shri Neelam Sanjiva Reddy   6th President of India
9       Dr. Fakhruddin Ali Ahmed   5th President of India
10  Shri Varahagiri Venkata Giri   4th President of India
11              Dr. Zakir Husain   3rd President of India
12  Dr. Sarvepalli Radhakrishnan   2nd President of India
13           Dr. Rajendra Prasad   1st President of India

Questions no 3 solution (a)

In [44]:
page=requests.get("https://www.cricketworldcup.com/")

In [45]:
page

In [47]:
soup=BeautifulSoup(page.content)

In [52]:
team_title=soup.find('span',class_="standings-overview__team-long-name")
team_title.text

'South Africa'

In [53]:
tnames=[]
for i in soup.find_all('span',class_="standings-overview__team-long-name"):
    tnames.append(i.text)
tnames

['South Africa',
 'India',
 'New Zealand',
 'Australia',
 'Sri Lanka',
 'Pakistan',
 'Afghanistan',
 'Bangladesh',
 'England',
 'Netherlands']

In [64]:
pos=soup.find('td',class_="table-body__cell table-body__cell--position")
pos.text

'1'

In [67]:
positions=[]
for i in soup.find_all('td',class_="table-body__cell table-body__cell--position"):
    positions.append(i.text)
positions

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [55]:
# matches palyed
mtch=soup.find('td',class_="table-body__cell")
mtch.text

'1'

In [72]:
matches=[]
for i in soup.find_all('td',class_="table-body__cell"):
    matches.append(i.text)
ds=pd.DataFrame({'mtch':matches})
ds

                            mtch
0                              1
1   \n\n\n\nSouth Africa\nSA\n\n
2                              6
3                         +2.032
4                             10
5                              2
6         \n\n\n\nIndia\nIND\n\n
7                              5
8                         +1.353
9                             10
10                             3
11   \n\n\n\nNew Zealand\nNZ\n\n
12                             5
13                        +1.481
14                             8
15                             4
16    \n\n\n\nAustralia\nAUS\n\n
17                             5
18                        +1.142
19                             6
20                             5
21     \n\n\n\nSri Lanka\nSL\n\n
22                             5
23                        -0.205
24                             4
25                             6
26     \n\n\n\nPakistan\nPAK\n\n
27                             6
28                        -0.387
29                             4
30                             7
31  \n\n\n\nAfghanistan\nAFG\n\n
32                             5
33                        -0.969
34                             4
35                             8
36   \n\n\n\nBangladesh\nBAN\n\n
37                             5
38                        -1.253
39                             2
40                             9
41      \n\n\n\nEngland\nENG\n\n
42                             5
43                        -1.634
44                             2
45                            10
46  \n\n\n\nNetherlands\nNED\n\n
47                             5
48                        -1.902
49                             2

In [70]:
print(len(tnames),len(matches))

10 50

In [75]:
pts=soup.find('td',class_="table-body__cell table-body__cell--pts")
pts

In [76]:
points=[]
for i in soup.find_all('td',class_="table-body__cell table-body__cell--pts"):
    points.append(i.text)
points

['10', '10', '8', '6', '4', '4', '4', '2', '2', '2']

In [77]:
df=pd.DataFrame({'rank':positions,'name':tnames,'points':points})
df

  rank          name points
0    1  South Africa     10
1    2         India     10
2    3   New Zealand      8
3    4     Australia      6
4    5     Sri Lanka      4
5    6      Pakistan      4
6    7   Afghanistan      4
7    8    Bangladesh      2
8    9       England      2
9   10   Netherlands      2

#note: i face an issue while scraping the data from the website  the record was present in a table (td tag) and the two columns  have same class.

Question no 3 solution part b

In [184]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup=BeautifulSoup(page.content)

In [222]:
#top 10 player names
name=[]
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    name.append(i.text)

In [223]:

names=name[:10]

In [203]:
#team names
team_name=[]
for i in soup.find_all('span',class_="table-body__logo-text"):
    team_name.append(i.text)
teams=team_name[:10]
teams

['IND', 'SA', 'SA', 'AUS', 'IND', 'IRE', 'IND', 'SA', 'PAK', 'ENG']

In [205]:
#rating
rating=[]
for i in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
ratings=rating[:10]
ratings

['823', '769', '756', '747', '747', '729', '725', '716', '704', '699']

In [224]:
print(len(names),len(teams),len(ratings))

10 10 10

In [225]:
#data frame
df=pd.DataFrame({'player_Name':names,'Team_Name':teams,'Rating':ratings})
df

                 player_Name Team_Name Rating
0           \nShubman Gill\n       IND    823
1        \nQuinton de Kock\n        SA    769
2       \nHeinrich Klaasen\n        SA    756
3           \nDavid Warner\n       AUS    747
4            \nVirat Kohli\n       IND    747
5           \nHarry Tector\n       IRE    729
6           \nRohit Sharma\n       IND    725
7  \nRassie van der Dussen\n        SA    716
8            \nImam-ul-Haq\n       PAK    704
9            \nDawid Malan\n       ENG    699

Question 3 sloution c

In [233]:
bowler_page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/t20i/bowling")
soup=BeautifulSoup(bowler_page.content)

In [234]:
#bowler names
b=[]
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    b.append(i.text)
bowlers=b[:10]
bowlers

['\nWanindu Hasaranga\n',
 '\nAdil Rashid\n',
 '\nMaheesh Theekshana\n',
 '\nJosh Hazlewood\n',
 '\nSam Curran\n',
 '\nFazalhaq Farooqi\n',
 '\nAdam Zampa\n',
 '\nMujeeb Ur Rahman\n',
 '\nAkeal Hosein\n',
 '\nAnrich Nortje\n']

In [236]:
#bowler teams
t=[]
for i in soup.find_all('span',class_="table-body__logo-text"):
    t.append(i.text)
teams=t[:10]

In [237]:
teams

['SL', 'ENG', 'SL', 'AUS', 'ENG', 'AFG', 'AUS', 'AFG', 'WI', 'SA']

In [238]:
#rating
r=[]
for i in soup.find_all('td',class_="table-body__cell rating"):
    r.append(i.text)
ratings=r[:10]
ratings

['679', '679', '677', '670', '659', '657', '657', '656', '655', '647']

In [240]:
#data frame of bowlers
df_bowlers=pd.DataFrame({'player_Name':bowlers,'Team_Name':teams,'Rating':ratings})
df_bowlers

              player_Name Team_Name Rating
0   \nWanindu Hasaranga\n        SL    679
1         \nAdil Rashid\n       ENG    679
2  \nMaheesh Theekshana\n        SL    677
3      \nJosh Hazlewood\n       AUS    670
4          \nSam Curran\n       ENG    659
5    \nFazalhaq Farooqi\n       AFG    657
6          \nAdam Zampa\n       AUS    657
7    \nMujeeb Ur Rahman\n       AFG    656
8        \nAkeal Hosein\n        WI    655
9       \nAnrich Nortje\n        SA    647

Question no 4 solution (a)

In [244]:
women_page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup=BeautifulSoup(women_page.content)

In [248]:
#women teames
w=[]
for i in soup.find_all('span',class_="u-hide-phablet"):
    w.append(i.text)
    
w_teams=w[1:11]
w_teams

['England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Sri Lanka',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Ireland']

In [246]:
#women matches
wm=[]
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    wm.append(i.text)
    
w_matches=wm[:10]
w_matches

['23', '2,991', '21', '2,446', '18', '1,745', '21', '2,014', '18', '1,610']

In [ ]:
#women points
wp=[]
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    wp.append(i.text)
w_points=wp[:10]

In [250]:
w_points

['23', '2,991', '21', '2,446', '18', '1,745', '21', '2,014', '18', '1,610']

In [253]:
#women rating
wr=[]
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    wr.append(i.text)
    
w_rating=wr[:10]
w_rating

['130', '116', '97', '96', '89', '79', '74', '68', '68', '32']

In [255]:
#women team data frame
w_team=pd.DataFrame({'Team':w_teams,'Matches':w_matches,'Points':w_points,'Rating':w_rating})
w_team

           Team Matches Points Rating
0       England      23     23    130
1  South Africa   2,991  2,991    116
2         India      21     21     97
3   New Zealand   2,446  2,446     96
4   West Indies      18     18     89
5     Sri Lanka   1,745  1,745     79
6    Bangladesh      21     21     74
7      Thailand   2,014  2,014     68
8      Pakistan      18     18     68
9       Ireland   1,610  1,610     32

#note: matches and points column has same class so tha i face an issue to extrack data

Question 4 solution (b)

In [264]:
bating_page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
bsoup=BeautifulSoup(bating_page.content)

In [266]:
#bating
wb=[]
for i in bsoup.find_all('td',class_="table-body__cell rankings-table__name name"):
    wb.append(i.text)
women_batings=wb[:10]
women_batings

['\nBeth Mooney\n',
 '\nChamari Athapaththu\n',
 '\nLaura Wolvaardt\n',
 '\nSmriti Mandhana\n',
 '\nAlyssa Healy\n',
 '\nEllyse Perry\n',
 '\nHarmanpreet Kaur\n',
 '\nMeg Lanning\n',
 '\nMarizanne Kapp\n',
 '\nAmelia Kerr\n']

In [269]:
#women team
w_team=[]
for i in bsoup.find_all('span',class_="table-body__logo-text"):
    w_team.append(i.text)
women_team=w_team[:10]
women_team

['AUS', 'SL', 'SA', 'IND', 'AUS', 'AUS', 'IND', 'AUS', 'SA', 'NZ']

In [270]:
#bating rating
b_rating=[]
for i in bsoup.find_all('td',class_="table-body__cell rating"):
    b_rating.append(i.text)
b_ratings=b_rating[:10]
b_ratings

['750', '736', '727', '708', '698', '697', '694', '662', '642', '628']

In [276]:
print(len(women_batings),len(women_team),len(b_ratings))

10 10 10

In [277]:
#bating data frame of women
bating_frame=pd.DataFrame({'Player Name':women_batings,'Team':women_team,'Rating':b_ratings})
bating_frame

               Player Name Team Rating
0          \nBeth Mooney\n  AUS    750
1  \nChamari Athapaththu\n   SL    736
2      \nLaura Wolvaardt\n   SA    727
3      \nSmriti Mandhana\n  IND    708
4         \nAlyssa Healy\n  AUS    698
5         \nEllyse Perry\n  AUS    697
6     \nHarmanpreet Kaur\n  IND    694
7          \nMeg Lanning\n  AUS    662
8       \nMarizanne Kapp\n   SA    642
9          \nAmelia Kerr\n   NZ    628

Question 4 solution (c)

In [280]:
ar_page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
rsoup=BeautifulSoup(ar_page.content)

In [283]:
#all rounder women's
ar_name=[]
for i in rsoup.find_all('td',class_="table-body__cell rankings-table__name name"):
    ar_name.append(i.text)
ar_names=ar_name[:10]
ar_names

['\nAshleigh Gardner\n',
 '\nNatalie Sciver-Brunt\n',
 '\nHayley Matthews\n',
 '\nAmelia Kerr\n',
 '\nDeepti Sharma\n',
 '\nEllyse Perry\n',
 '\nJess Jonassen\n',
 '\nSophie Devine\n',
 '\nNida Dar\n',
 '\nChloe-Lesleigh Tryon\n']

In [284]:
#all rounder team
ar_team=[]
for i in rsoup.find_all('span',class_="table-body__logo-text"):
    ar_team.append(i.text)
ar_teams=ar_team[:10]
ar_teams

['AUS', 'ENG', 'WI', 'NZ', 'IND', 'AUS', 'AUS', 'NZ', 'PAK', 'SA']

In [286]:
#all rounder rating
ar_rating=[]
for i in rsoup.find_all('td',class_="table-body__cell rating"):
    ar_rating.append(i.text)
ar_ratings=ar_rating[:10]
ar_ratings

['377', '360', '358', '346', '312', '282', '227', '227', '224', '212']

In [287]:
#all rounder data frame
ar_frame=pd.DataFrame({'Name':ar_names,'Team':ar_teams,'Rating':ar_ratings})
ar_frame

                       Name Team Rating
0      \nAshleigh Gardner\n  AUS    377
1  \nNatalie Sciver-Brunt\n  ENG    360
2       \nHayley Matthews\n   WI    358
3           \nAmelia Kerr\n   NZ    346
4         \nDeepti Sharma\n  IND    312
5          \nEllyse Perry\n  AUS    282
6         \nJess Jonassen\n  AUS    227
7         \nSophie Devine\n   NZ    227
8              \nNida Dar\n  PAK    224
9  \nChloe-Lesleigh Tryon\n   SA    212

Question 5 solution (i)

In [290]:
news_page=requests.get('https://www.cnbc.com/world/?region=world')
nsoup=BeautifulSoup(news_page.content)

In [295]:
#headlines
headlines=[]
for i in nsoup.find_all('a',class_="LatestNews-headline"):
    headlines.append(i.text)

In [298]:
#time
time=[]
for i in nsoup.find_all('time',class_="LatestNews-timestamp"):
    time.append(i.text)

In [307]:
#news link
link=[]
for i in nsoup.find_all('a',class_="LatestNews-headline"):
    link.append(i['href'])

In [309]:
#news data frame
news_frame=pd.DataFrame({'Headlines':headlines,'Time':time,'Link':link})
news_frame

,Headlines,Time,Link
0,Israel vows to continue 'large scale' strikes;...,2 Hours Ago,https://www.cnbc.com/2023/10/29/israel-hamas-w...
1,Jamie Dimon's stock-moving trades show benefit...,16 Hours Ago,https://www.cnbc.com/2023/10/28/jamie-dimon-tr...
2,Mike Pence ends campaign for the White House a...,15 Hours Ago,https://www.cnbc.com/2023/10/28/former-vice-pr...
3,UAW in tentative deal to end labor strike with...,17 Hours Ago,https://www.cnbc.com/2023/10/28/uaw-strike-ste...
4,Suze Orman: ‘Big mistake if you park your mone...,19 Hours Ago,https://www.cnbc.com/2023/10/28/suze-orman-big...
5,Jobs and earnings are major themes next week a...,20 Hours Ago,https://www.cnbc.com/2023/10/28/jobs-earnings-...
6,Here's Americans' net worth at every age—for p...,20 Hours Ago,https://www.cnbc.com/2023/10/28/americans-medi...
7,Psychologist: Here's my No.1 brain hack for cr...,20 Hours Ago,https://www.cnbc.com/2023/10/28/uchicago-psych...
8,Routine S&P 500 correction or something more s...,20 Hours Ago,https://www.cnbc.com/2023/10/28/analyzing-the-...
9,Why it's so expensive to be single in the U.S.,21 Hours Ago,https://www.cnbc.com/2023/10/28/why-its-so-exp...
10,Use this Google feature to detect and delete y...,21 Hours Ago,https://www.cnbc.com/2023/10/28/how-to-delete-...
11,Reddit co-founder: Most successful people shar...,21 Hours Ago,https://www.cnbc.com/2023/10/28/reddit-co-foun...
12,'Earn Your Leisure' hosts: It may take $10 mil...,22 Hours Ago,https://www.cnbc.com/2023/10/28/earn-your-leis...
13,Coke and Pepsi stocks are struggling — but one...,22 Hours Ago,https://www.cnbc.com/2023/10/28/coke-and-pepsi...
14,Israel-Hamas war is affecting the financial ou...,23 Hours Ago,https://www.cnbc.com/2023/10/28/israel-hamas-w...
15,The S&P 500is in a correction. Why Warren Buff...,23 Hours Ago,https://www.cnbc.com/2023/10/28/the-sp-500-has...
16,Stocks like Rivian are a table-pounding buy ah...,23 Hours Ago,https://www.cnbc.com/2023/10/28/buy-these-stoc...
17,Israeli forces in Gaza 'increasing the ground ...,"October 28, 2023",https://www.cnbc.com/2023/10/28/israel-hamas-w...
18,Google commits to invest $2 billion in OpenAI ...,"October 27, 2023",https://www.cnbc.com/2023/10/27/google-commits...
19,"Jim Cramer on Byron Wien: 'An optimist, always...","October 27, 2023",https://www.cnbc.com/2023/10/27/jim-cramer-rem...
20,Cramer's Lightning Round: 'Pass' on General Mo...,"October 27, 2023",https://www.cnbc.com/2023/10/27/cramers-lightn...
21,"Cramer's week ahead: Federal Reserve meeting, ...","October 27, 2023",https://www.cnbc.com/2023/10/27/cramers-week-a...
22,Vanguard bond chief sees recession in 2024. He...,"October 27, 2023",https://www.cnbc.com/2023/10/27/vanguards-bond...
23,Team Biden barely responds to Democrat Dean Ph...,"October 27, 2023",https://www.cnbc.com/2023/10/27/team-biden-res...
24,Amazon shares surge after earnings beat expect...,"October 27, 2023",https://www.cnbc.com/2023/10/27/amazon-shares-...
25,Experts weigh in on recent college grad's vira...,"October 27, 2023",https://www.cnbc.com/2023/10/27/college-grad-g...
26,We had a busy week of trades in an oversold ma...,"October 27, 2023",https://www.cnbc.com/2023/10/27/we-had-a-busy-...
27,New tool lets artists 'poison' their artwork t...,"October 27, 2023",https://www.cnbc.com/2023/10/27/new-tool-lets-...
28,Eggo just launched a $150 robot vacuum cleaner...,"October 27, 2023",https://www.cnbc.com/2023/10/27/eggo-is-sellin...
29,Trauma can leave you 'stuck in states of anger...,"October 27, 2023",https://www.cnbc.com/2023/10/27/ways-to-heal-a...

Question 6 solution

In [313]:
art_page=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
asoup=BeautifulSoup(art_page.content)

In [316]:
#paper title
pt=[]
for i in asoup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    pt.append(i.text)

In [319]:
#Author
author=[]
for i in asoup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    author.append(i.text)

In [340]:
#Published Date
p_date=[]
for i in asoup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    p_date.append(i.text)

In [337]:
#paper url
p_url=[]
for i in asoup.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    p_url.append(i['href'])

In [341]:
print(len(pt),len(author),len(p_date),len(p_url))

24 24 24 24

In [345]:
#data frame
import pandas as pd
articles=pd.DataFrame({'Paper Title':pt,'Author':author,'Published Date':p_date,'url':p_url})
articles

,Paper Title,Author,Published Date,url
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

Question no 7 solution

In [371]:
d_page=requests.get("https://www.dineout.co.in/delhi-restaurants")
dsoup=BeautifulSoup(d_page.content)

In [373]:
#Restaurant name
r_name=[]
for i in dsoup.find_all('div',class_="restnt-info cursor"):
    r_name.append(i.text)

In [377]:
#Cuisine
r_cuisine=[]
for i in dsoup.find_all('span',class_="double-line-ellipsis"):
    r_cuisine.append(i.text)

In [375]:
#Location
r_loc=[]
for i in dsoup.find_all('div',class_="restnt-loc ellipsis"):
    r_loc.append(i.text)

In [395]:
#Ratings
r_rating=[]
for i in dsoup.find_all('div',class_="restnt-rating rating-4" or class_="restnt-rating rating-5"):
    r_rating.append(i.text)

r_rating

SyntaxError: invalid syntax (2658589415.py, line 3)

In [383]:
#Image URL
r_image=[]
for i in dsoup.find_all('img',class_="no-img"):
   r_image.append(i['data-src'])

In [396]:
print(len(r_name),len(r_cuisine),len(r_loc),len(r_rating),len(r_image))

21 21 21 0 21

In [398]:
r_data=pd.DataFrame({'Name':r_name,'Cuisine':r_cuisine,'location':r_loc,'img_url':r_image})
r_data

,Name,Cuisine,location,img_url
0,"Ministry Of BeerM-Block,Connaught Place, Centr...","₹ 3,000 for 2 (approx) | North Indian, Contine...","M-Block,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
1,"Connaught Club HouseConnaught Place, Central D...","₹ 1,800 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
2,"The G.T. RoadM-Block,Connaught Place, Central ...","₹ 2,000 for 2 (approx) | North Indian","M-Block,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
3,"Gin & JulietF-Block,Connaught Place, Central D...","₹ 1,100 for 2 (approx) | Italian, Chinese, Nor...","F-Block,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
4,"My Bar HeadquartersConnaught Place, Central Delhi","₹ 1,500 for 2 (approx) | North Indian, Chinese","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
5,"SandozConnaught Place, Central Delhi","₹ 1,400 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
6,"The Junkyard CafeConnaught Place, Central Delhi","₹ 2,100 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
7,"LocalScindia House,Connaught Place, Central Delhi","₹ 2,000 for 2 (approx) | North Indian, Asian, ...","Scindia House,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
8,"TamashaConnaught Place, Central Delhi","₹ 2,000 for 2 (approx) | Continental, Asian, I...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
9,"Unplugged CourtyardConnaught Place, Central Delhi","₹ 2,500 for 2 (approx) | North Indian, Italian...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
10,"Ce La VieConnaught Place, Central Delhi","₹ 1,800 for 2 (approx) | Continental","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
11,"Kwality RestaurantRegal Cinema Complex,Connaug...","₹ 2,000 for 2 (approx) | North Indian, Contine...","Regal Cinema Complex,Connaught Place, Central ...",https://im1.dineout.co.in/images/uploads/resta...
12,"My Bar SquareConnaught Place, Central Delhi","₹ 2,000 for 2 (approx) | Finger Food, Chinese,...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
13,"Warehouse CafeConnaught Place, Central Delhi","₹ 2,500 for 2 (approx) | North Indian, Chinese...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
14,"TamraShangri La Eros New Delhi,Janpath, Centra...","₹ 3,000 for 2 (approx) | Continental, European...","Shangri La Eros New Delhi,Janpath, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
15,Ardor 2.1 Restaurant and LoungeConnaught Place...,"₹ 2,000 for 2 (approx) | North Indian, Chinese...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
16,"Openhouse CafeConnaught Place, Central Delhi","₹ 2,000 for 2 (approx) | North Indian, Asian, ...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
17,"Connaught Club HouseJanpath, Central Delhi","₹ 2,100 for 2 (approx) | North Indian, Asian, ...","Janpath, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
18,"Yeti - The Himalayan KitchenThe Colonnade,Conn...","₹ 1,500 for 2 (approx) | Tibetan, Nepalese","The Colonnade,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
19,"Farzi CafeConnaught Place, Central Delhi","₹ 2,000 for 2 (approx) | Modern Indian, Contin...","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
20,"38 BarracksM-Block,Connaught Place, Central Delhi","₹ 2,700 for 2 (approx) | North Indian, Chinese...","M-Block,Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...