In [20]:
from selenium import webdriver
import pandas as pd 
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [64]:
driver=webdriver.Chrome()

In [65]:
#question 1
driver.get('https://www.shine.com/')

In [67]:
desg=driver.find_element(By.XPATH,'//*[@id="id_q"]')
desg.send_keys('Data Analyst')

In [68]:
loc=driver.find_element(By.XPATH,'//*[@id="id_loc"]')
loc.send_keys('Bangalore')

In [72]:
btn=driver.find_element(By.XPATH,'//div[@class="searchForm_btnWrap_advance__VYBHN"]/button')
btn.click()

In [73]:
job_title=[]
job_location=[]
job_company=[]

In [84]:
#job title
jtitle=[]
title=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in title:
    jtitle.append(i.text)
    
job_title=jtitle[:10]

In [82]:
#job location
j_loc=[]
jloc=driver.find_elements(By.XPATH,'//DIV[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"][1]')
for i in jloc:
    j_loc.append(i.text)
    
job_location=j_loc[:10]

In [83]:
#job company
j_company=[]
jcomp=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in jcomp:
    j_company.append(i.text)
job_company=j_company[:10]

In [95]:
#experience required
job_experience=[]
j_exp=[]
jexp=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in jexp:
    j_exp.append(i.text)
    
job_experience=j_exp[:10]

In [97]:
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company':job_company,'experience':job_experience})
df

,job_title,job_location,company,experience
0,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
1,Data Analyst Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs
2,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
3,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
4,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
5,Data Analyst Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
6,Data Analyst 1,Bangalore,merck ltd,1 to 3 Yrs
7,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
8,Hiring For Data Analyst,Bangalore\n+14,divya interprises,0 to 4 Yrs
9,Data Analyst,Bangalore\n+9,v-tech data outsourcing,0 to 2 Yrs

Question no 2 solution

In [113]:
driver2=webdriver.Chrome()

In [114]:
driver2.get('https://www.shine.com/')

In [118]:
#send first key
desg2=driver2.find_element(By.XPATH,'//*[@id="id_q"]')
desg2.send_keys('Data Scientist')

In [119]:
#send location
loc2=driver2.find_element(By.XPATH,'//*[@id="id_loc"]')
loc2.send_keys('Bangalore')

In [120]:
#search click
btn2=driver2.find_element(By.XPATH,'//div[@class="searchForm_btnWrap_advance__VYBHN"]/button')
btn2.click()

In [121]:
job_title2=[]
job_location2=[]
job_company2=[]

In [126]:
#title
#job title
jtitle=[]
title=driver2.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in title:
    jtitle.append(i.text)
    
job_title2=jtitle[:10]

In [129]:
#job location
#job location
j_loc=[]
jloc=driver2.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"][1]')
for i in jloc:
    j_loc.append(i.text)
    
job_location2=j_loc[:10]

In [131]:
#company name
j_company=[]
jcomp=driver2.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in jcomp:
    j_company.append(i.text)
job_company2=j_company[:10]

In [132]:
#data frame question2 
df2=pd.DataFrame({'job_title':job_title2,'job_location':job_location2,'company':job_company2})
df2

,job_title,job_location,company
0,Data Scientist Vacancy,Bangalore\n+14,divya interprises
1,Data Scientist Urgent Recruitment,Bangalore\n+14,divya interprises
2,Data Scientist- Bangalore,Bangalore,the fashion cosmo
3,Data Scientist AI ML CV,Bangalore,bosch group
4,Data Scientist AI ML NLP,Bangalore,bosch group
5,Phd Data Scientist,Bangalore,bosch group
6,Data Scientist-Bangalore,Bangalore,shiva hr services
7,Hiring For Data Scientist,Bangalore\n+14,divya interprises
8,Data Scientist,Bangalore,racanaa energy solution private lim...
9,Staff Data Scientist & Team Lead,Bangalore,true caller

question 3 solution

In [136]:
#
driver3=webdriver.Chrome()
driver3.get('https://www.shine.com/')

In [141]:

#send first key
desg3=driver3.find_element(By.XPATH,'//*[@id="id_q"]')
desg3.send_keys('Data Scientist')

In [143]:
#send location
loc3=driver3.find_element(By.XPATH,'//*[@id="id_loc"]')
loc3.send_keys('Bangalore')

In [144]:
#search click
btn3=driver3.find_element(By.XPATH,'//div[@class="searchForm_btnWrap_advance__VYBHN"]/button')
btn3.click()

In [145]:
#filter delhi
filt=driver3.find_element(By.XPATH,'//*[@id="__next"]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[1]/button')
filt.click()

In [146]:
filt_search=driver3.find_element(By.XPATH,'//*[@id="search"]')
filt_search.send_keys('Delhi')

In [148]:
f_click=driver3.find_element(By.XPATH,'//*[@id="__next"]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label')
f_click.click()

In [150]:
search_btn=driver3.find_element(By.XPATH,'//*[@id="__next"]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]')
search_btn.click()

In [155]:
#experience filter
exp_filt=driver3.find_element(By.XPATH,'//*[@id="__next"]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[2]/button')
exp_filt.click()

In [157]:
#search experience filter
search_exp=driver3.find_element(By.XPATH,'//*[@id="search"]')
search_exp.send_keys('3 to 5')

In [158]:
#filter value
exp_val=driver3.find_element(By.XPATH,'//*[@id="__next"]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label')
exp_val.click()

In [159]:
exp_btn=driver3.find_element(By.XPATH,'//*[@id="__next"]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]')
exp_btn.click()

In [160]:
job_title3=[]
job_location3=[]
job_company3=[]
job_experience3=[]

In [162]:
#job title
jtitle=[]
title=driver3.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in title:
    jtitle.append(i.text)
    
job_title3=jtitle[:10]

In [163]:
#job location
#job location
j_loc=[]
jloc=driver3.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"][1]')
for i in jloc:
    j_loc.append(i.text)
    
job_location3=j_loc[:10]

In [164]:
#company name
j_company=[]
jcomp=driver3.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in jcomp:
    j_company.append(i.text)
job_company3=j_company[:10]

In [171]:
#experience required

j_exp=[]
jexp=driver3.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in jexp:
    j_exp.append(i.text)
    
job_experience3=j_exp[:10]
job_experience3

['3 to 6 Yrs',
 '3 to 5 Yrs',
 '5 to 10 Yrs',
 '3 to 5 Yrs',
 '1 to 6 Yrs',
 '1 to 5 Yrs',
 '4 to 9 Yrs',
 '3 to 6 Yrs',
 '2 to 5 Yrs',
 '5 to 10 Yrs']

In [172]:
print(len(job_title3),len(job_location3),len(job_company3),len(job_experience3))

10 10 10 10

In [174]:
#data frame
df3=pd.DataFrame({'job title':job_title3,'locatio':job_location3,'company':job_company3,'experience':job_experience3})
df3

,job title,locatio,company,experience
0,Data Scientist,Delhi\n+6,mnr solutions pvt ltd,3 to 6 Yrs
1,Data Scientist,Delhi\n+4,acme services private limited,3 to 5 Yrs
2,Senior Data Scientist,Delhi\n+7,nustar technologies india private l...,5 to 10 Yrs
3,Data Scientist,Delhi\n+4,acme services private limited,3 to 5 Yrs
4,Biostatistician,Delhi\n+17,national seeds corporation limited,1 to 6 Yrs
5,Remote _Data Entry Specialists,Delhi\n+6,mnr solutions pvt ltd,1 to 5 Yrs
6,Technical Data Analyst,Delhi\n+9,krishna consultancy.. hiring for co...,4 to 9 Yrs
7,Data Engineer,Delhi\n+8,nina s hr consultancy,3 to 6 Yrs
8,Hiring For Data Analyst,Delhi\n+8,harjai computers private limited,2 to 5 Yrs
9,Senior Data Engineer,Delhi\n+9,recruiter wings consultancy llp hir...,5 to 10 Yrs

Question 4 solution

In [258]:
driver4=webdriver.Chrome()
driver4.get('https://www.flipkart.com/')

In [262]:
search_bar=driver4.find_element(By.XPATH,'//*[@id="container"]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input')
search_bar.send_keys('sunglasses')

In [263]:
s_btn=driver4.find_element(By.XPATH,'//*[@id="container"]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
s_btn.click()

In [238]:
brand=[]
description=[]
price=[]

In [239]:
#brand fetch
b=[]
start=0
end=3
for page in range(start,end):
    brand=driver4.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        b.append(i.text)
        
    next_button=driver4.find_element(By.XPATH,'//a[@class="_1LKTO3"]/span')
    next_button.click()
    time.sleep(3)
    
brand=b[:100]

In [240]:
print(len(brand))

100

In [247]:
#description fetching
d=[]
start=0
end=3
for page in range(start,end):
    desc=driver4.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desc:
        d.append(i.text)
        
    next_button=driver4.find_element(By.XPATH,'//a[@class="_1LKTO3"]/span')
    next_button.click()
           
    time.sleep(3)
    
description=d[:100]

In [251]:
print(len(description))

100

In [252]:
#price fetching
p=[]
start=0
end=3
for page in range(start,end):
    pr=driver4.find_elements(By.XPATH,'//div[@class="_25b18c"]/div[1]')
    for i in pr:
        p.append(i.text)
        
    next_button=driver4.find_element(By.XPATH,'//a[@class="_1LKTO3"]/span')
    next_button.click()
           
    time.sleep(3)
    
price=p[:100]

In [254]:
print(len(price))

100

In [257]:
#dara frame of sunglesses
df4=pd.DataFrame({'Brand':brand,'Description':description,'price':price})
df4

          Brand                                        Description price
0    iCopertina  Polarized, UV Protection Retro Square Sunglass...  ₹187
1     ROYAL SON  UV Protection Over-sized, Retro Square Sunglas...  ₹339
2      Fastrack             UV Protection Wayfarer Sunglasses (59)  ₹549
3          SRPM     UV Protection Spectacle Sunglasses (Free Size)  ₹149
4    iCopertina         UV Protection Retro Square Sunglasses (54)  ₹199
..          ...                                                ...   ...
95       PIRASO     Polarized, UV Protection Round Sunglasses (51)  ₹449
96  Eyewearlabs  UV Protection Retro Square Sunglasses (Free Size)  ₹399
97   iCopertina                   Gradient Aviator Sunglasses (58)  ₹799
98      Eyenaks          UV Protection Rectangular Sunglasses (52)  ₹254
99      ROADWAY              UV Protection Cat-eye Sunglasses (56)   ₹79

[100 rows x 3 columns]

Question 5 solution

In [309]:
driver5=webdriver.Chrome()
driver5.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYIJLDFV&marketplace=FLIPKART')

In [310]:
rating=[]
summary=[]
review=[]

In [369]:
#rating fetching 
rate=[]
start=0
end=10
for page in range(start,end):
    rev=driver5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"][1]')
    for i in rev:
        rate.append(i.text)
        
    next_btn=driver5.find_element(By.CLASS_NAME,'_1LKTO3')
    next_btn.click()
    time.sleep(3)
        
rating=rate[:100]

In [368]:
#fetching review summary
sum=[]
start=0
end=10
for page in range(start,end):
    s=driver5.find_elements(By.CLASS_NAME,'_2-N8zT')
    for i in s:
        sum.append(i.text)
        
    next_btn=driver5.find_element(By.CLASS_NAME,'_1LKTO3')
    next_btn.click()
    time.sleep(3)
        
summary=sum[:100]

In [342]:
#full review
rev=[]
start=0
end=10
for page in range(start,end):
    r=driver5.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div/div')
    for i in r:
        rev.append(i.text)
        
    next_btn=driver5.find_element(By.CLASS_NAME,'_1LKTO3')
    next_btn.click()
    time.sleep(3)
        
review=rev[:100]

In [364]:
print(len(rating),len(summary),len(review))

100 93 100

In [371]:
#DATA FRAME
df5=pd.DataFrame({'rating':rating,'summary':summary,'review':review})

In [372]:
df5

,rating,summary,review
0,5,Highly recommended,Awesome Battery Life...Camera clarity is too g...
1,5,Perfect product!,Photos super
2,5,Terrific purchase,Value for money 😍
3,5,Worth every penny,Feeling awesome after getting the delivery of ...
4,5,Best in the market!,Good Camera
...,...,...,...
95,4,Good quality product,Awesome
96,5,Brilliant,very good camera quality
97,5,Terrific purchase,Value for money 🖤🖤
98,5,Fabulous!,It’s very good battery life and display and vi...
99,5,Great product,Purple is best

Question 6 solution

In [373]:
driver6=webdriver.Chrome()

In [388]:
driver6.get('https://www.flipkart.com/')

In [389]:
search=driver6.find_element(By.CLASS_NAME,'Pke_EE')
search.send_keys('sneakers')

In [392]:
btn=driver6.find_element(By.CLASS_NAME,'_2iLD__')
btn.click()

In [393]:
brand=[]
description=[]
price=[]

In [412]:
#fetching brand
brn=[]
start=0
end=3
for page in range(start,end):
    brnd=driver6.find_elements(By.CLASS_NAME,'_2WkVRV')
    for i in brnd:
        brn.append(i.text)
        
    next_btn=driver6.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_btn.click()
    time.sleep(3)
        
brand=brn[:100]

In [413]:
print(len(brand))

100

In [ ]:
#fetching product description
dsc=[]
start=0
end=3
for page in range(start,end):
    des=driver6.find_elements(By.CLASS_NAME,'IRpwTa')
    for i in des:
        dsc.append(i.text)
        
    next_btn=driver6.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_btn.click()
    time.sleep(3)
        
description=dsc[:100]

In [416]:
#price fetching

pr=[]
start=0
end=3
for page in range(start,end):
    prc=driver6.find_elements(By.CLASS_NAME,'_30jeq3')
    for i in prc:
        pr.append(i.text)
        
    next_btn=driver6.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_btn.click()
    time.sleep(3)
        
price=pr[:100]

In [417]:
df6=pd.DataFrame({'Brand':brand,'Description':description,'price':price})

In [418]:
df6

      Brand                                        Description   price
0    BRUTON  Combo Pack Of 2 Men’s Casual Shoes Sneakers Fo...    ₹497
1    BRUTON      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹497
2   El Paso  EL PASO Men's White Faux Leather Casual Lace U...    ₹764
3      PUMA                RS-X Efekt Speckle Sneakers For Men  ₹4,949
4      PUMA                      Graviton Pro Sneakers For Men  ₹3,499
..      ...                                                ...     ...
95     PUMA                           Trinity Sneakers For Men  ₹1,099
96   lejano           CANVAS SNEAKERS FOR MEN Sneakers For Men    ₹279
97     aadi  Synthetic Leather|Lightweight|Comfort|Summer|T...    ₹497
98     PUMA                    Cardif Slip on Sneakers For Men  ₹4,509
99     PUMA                     CA Pro Lux II Sneakers For Men    ₹497

[100 rows x 3 columns]

Question 7 solution

In [420]:
driver7=webdriver.Chrome()
driver7.get(' https://www.amazon.in/')

In [424]:
#FETCHING SEARCH BAR
searchbar=driver7.find_element(By.XPATH,'//div[@class="nav-search-field "]/input')
searchbar.send_keys('Laptop')

In [427]:
#fetching search button
searchbtn=driver7.find_element(By.XPATH,'//*[@id="nav-search-submit-button"]')
searchbtn.click()

In [431]:
#etching filter button
filterbtn=driver7.find_element(By.XPATH,'//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div')
filterbtn.click()

In [432]:
title=[]
rating=[]
price=[]

In [437]:
#fetching titles
ttl=[]
t=driver7.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in t:
    ttl.append(i.text)
title=ttl[:10]

In [439]:
#FETCHING RATINGS
rt=[]
r=driver7.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in r:
    rt.append(i.text)
    
rating=rt[:10]

In [446]:
#fetching price
pr=[]
p=driver7.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in p:
    pr.append(i.text)
    
price=pr[:10]

In [447]:
print(len(title),len(rating),len(price))

10 10 10

In [449]:
#data frame of laptops
df7=pd.DataFrame({'Title':title,'Rating':rating,'Price':price})
df7

                                               Title  Rating   Price
0  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...  68,990  68,990
1  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...  63,990  63,990
2  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...  49,990  49,990
3  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...  57,990  57,990
4  Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...  52,990  52,990
5  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...  64,990  64,990
6  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...  60,990  60,990
7  ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...  85,990  85,990
8  Dell Inspiron 5430 Laptop, Intel Core i7-1360P...  84,990  84,990
9  HP Victus Gaming Laptop, 12th Gen Intel Core i...  84,990  84,990

Question 8 solution

In [488]:
driver8=webdriver.Chrome()
driver8.get('https://www.azquotes.com/')

In [490]:
#top quites btn fetching
tq=driver8.find_element(By.XPATH,'//*[@id="menu"]/div/div[3]/ul/li[5]/a')
tq.click()

In [453]:
a_author=[]
b_author=[]
c_author=[]

In [521]:
a_btn=driver8.find_element(By.XPATH,'//*[@id="tinynav1"]/option[1]')
a_btn.click()

In [522]:
#fetching A authors
ath=[]
a=driver8.find_elements(By.XPATH,'//div[@class="people"]/a')
for i in a:
    a_author.append(i.text)

In [492]:
# b name btn
b_btn=driver8.find_element(By.XPATH,'//*[@id="tinynav1"]/option[2]')
b_btn.click()

In [493]:
#fetching B name aothors
b=driver8.find_elements(By.XPATH,'//div[@class="people"]/a')
for i in b:
    b_author.append(i.text)

In [495]:
#c name btn
c_btn=driver8.find_element(By.XPATH,'//*[@id="tinynav1"]/option[3]')
c_btn.click()

In [502]:
#fetching c name
c=driver8.find_elements(By.XPATH,'//div[@class="people"]/a')
for i in c:
    c_author.append(i.text)

In [523]:
print(len(a_author),len(b_author),len(c_author))

120 120 120

In [525]:
df8=pd.DataFrame({'a_author':a_author,'b_author':b_author,'c_author':c_author})
df8

            a_author              b_author          c_author
0    Albert Einstein          Billy Graham  Condoleezza Rice
1           Ayn Rand          Barack Obama       C. S. Lewis
2    Abraham Lincoln            Beth Moore  Charles Spurgeon
3     Antonin Scalia     Benjamin Franklin    Clint Eastwood
4          Aristotle          Bobby Jindal   Corrie Ten Boom
..               ...                   ...               ...
115      Ayad Akhtar        Big Daddy Kane        Charli XCX
116  Alan Dershowitz         Bill McKibben   Charlize Theron
117   Aja Naomi King          Brody Jenner     Colleen Jones
118       Ari Shavit          Billy Corgan    Craig Ferguson
119    Alex Kapranos  Benedict Cumberbatch  Carly Rae Jepsen

[120 rows x 3 columns]

Question 9 solution

In [580]:
driver9=webdriver.Chrome()
driver9.get('https://www.jagranjosh.com/')

In [583]:
gk_btn=driver9.find_element(By.XPATH,'//*[@id="__next"]/header/nav/div/div/div[3]/ul/li[6]/a')
gk_btn.click()

In [585]:
current_gk=driver9.find_element(By.XPATH,'//*[@id="1609937029749"]/div/ul/li[1]/a')
current_gk.click()

In [586]:
pmlist_btn=driver9.find_element(By.XPATH,'//*[@id="popluarGK"]/ul/li[2]/a')
pmlist_btn.click()

In [588]:
#EMPTY LIST
pm_name=[]
pm_dob=[]
pm_term=[]

In [594]:
#FIRST PM
ist_pm=driver9.find_element(By.XPATH,'//td[@style="width: 150px; height: 121px;"]/p/strong/a')
pm_name.append(ist_pm.text)
pm_name

['Jawahar Lal Nehru']

In [602]:
#FETCHING NAME 
name=driver9.find_elements(By.XPATH,'//TD[@style="width: 150px; height: 80px;"]/P')
for i in name:
    pm_name.append(i.text)

In [600]:
#fetching full table
tbody=driver9.find_element(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody')
data=[]
for tr in tbody.find_elements(By.XPATH,'//tr'):
    row=[item.text for item in tr.find_elements(By.XPATH,'.//td')]
    data.append(row)

In [601]:
df9=pd.DataFrame({'name':data})
df9

                                                 name
0                                                  []
1   [1., Jawahar Lal Nehru, (1889–1964), 15 August...
2   [2., Gulzarilal Nanda (Acting), (1898-1998), 2...
3   [3., Lal Bahadur Shastri, (1904–1966), 9 June ...
4   [4. , Gulzari Lal Nanda  (Acting), (1898-1998)...
5   [5., Indira Gandhi, (1917–1984), 24 January 19...
6   [6., Morarji Desai, (1896–1995), 24 March 1977...
7   [7., Charan Singh, (1902–1987), 28 July 1979 t...
8   [8., Indira Gandhi, (1917–1984), 14 January 19...
9   [9., Rajiv Gandhi, (1944–1991), 31 October 198...
10  [10., V. P. Singh, (1931–2008), 2 December 198...
11  [11., Chandra Shekhar, (1927–2007), 10 Novembe...
12  [12., P. V. Narasimha Rao, (1921–2004), 21 Jun...
13  [13., Atal Bihari Vajpayee, (1924- 2018), 16 M...
14  [14., H. D. Deve Gowda, (born 1933), 1 June 19...
15  [15., Inder Kumar Gujral, (1919–2012), 21 Apri...
16  [16., Atal Bihari Vajpayee, (1924-2018), 19 Ma...
17  [17., Manmohan Singh, (born 1932), 22 May 2004...
18  [18., Narendra Modi, (born 1950), 26 May 2014 ...
19  [19., Narendra Modi, (born 1950), 30 May 2019-...
20  [List of all Presidents of India, List of Nick...

Questio 10 solution

In [566]:
driver10=webdriver.Chrome()
driver10.get('https://www.motor1.com/')

In [567]:
#fetching search bar
car_search=driver10.find_element(By.XPATH,'//*[@id="search_input"]')
car_search.send_keys('most expensive cars')
time.sleep(4)

In [568]:
search_btn=driver10.find_element(By.XPATH,'//*[@id="header_search_form"]/button[1]')
search_btn.click()

In [571]:
search_bar2=driver10.find_element(By.XPATH,'//*[@id="page_index_articles_search"]/div[6]/form/div/input')
search_bar2.send_keys('most expensive cars in the world')

In [574]:
s_btn=driver10.find_element(By.XPATH,'//*[@id="page_index_articles_search"]/div[6]/form/input[2]')
s_btn.click()

In [575]:
exp_cars=[]

In [577]:
#fetching car data
cars=driver10.find_elements(By.XPATH,'//div[@class="text-box"]/H3/a')
for i in cars:
    exp_cars.append(i.text)
    
    
exp_cars

['This 1996 Nissan Nismo GT-R Is The Most Expensive In The World',
 "Bugatti La Voiture Noire Joins World's Most Expensive Cars At Drag Strip",
 '50 Most Expensive Cars In The World',
 'Motor1 On One With Master Detailer Todd Cooperider',
 'Nissan LEAF Is World’s # 1 Selling EV, But #2 Might Surprise You']

In [578]:
df10=pd.DataFrame({'Car Name':exp_cars})

In [579]:
df10

                                            Car Name
0  This 1996 Nissan Nismo GT-R Is The Most Expens...
1  Bugatti La Voiture Noire Joins World's Most Ex...
2                50 Most Expensive Cars In The World
3  Motor1 On One With Master Detailer Todd Cooper...
4  Nissan LEAF Is World’s # 1 Selling EV, But #2 ...

In [ ]:
#NOTE: There are only five cars available in the website so i fetch that